.post-container
  .post-title
    = link_to post.title, post
  .post-img
    = image_tag(post.main_picture)
  .post-footer
    .post-user
      = "Отправил: "
      = link_to(post.user.full_name, '#')
    .post-date
      = "Дата: #{post.created_at.strftime("%d.%m.%Y %H:%M")}"