%footer.footer
  .container
    .row
      .col-sm-6
        .mt-5
          %ul.footer-nav-links
            %li
              = link_to "Загрузить", download_path
            %li
              = link_to "Работы пользователей", users_works_path
            %li
              = link_to "Автор", author_path
      .col-sm-6
        %ul.footer-social-links.mt-100
          %li
            = link_to '#' do
              %i.fab.fa-github
          %li
            = link_to '#' do
              %i.fab.fa-vk
          %li
            = link_to '#' do
              %i.fab.fa-telegram