%header
  .container
    .p-2
    %nav.navbar.navbar-expand-sm
      = link_to :root do
        .navbar-brand.text-30.text-w-600.text-white
          Fractal View
      %ul.navbar-nav.ml-auto
        %li.nav-item.nav-item-link
          = link_to "Загрузить", download_path, class: "#{'nav-active' if current_page?(download_path)}"
        %li.nav-item.nav-item-link
          = link_to "Работы пользователей", users_works_path, class: "#{'nav-active' if current_page?(users_works_path)}"
        %li.nav-item.nav-item-link
          = link_to "Автор", author_path, class: "#{'nav-active' if current_page?(author_path)}"

        -  if current_user.present?
          %li.nav-item.nav-item-link
            = link_to "Кабинет", '#'
          %li.nav-item.nav-item-link
            = link_to(destroy_user_session_path, method: :delete) do
              = content_tag('i', nil, class: 'fas fa-sign-out-alt text-white text-20')
        - else
          %li.nav-item.nav-item-link
            = link_to "", new_user_session_path, class: "fas fa-sign-in-alt"