.row
  .col-sm-8
    = render partial: "posts/shared/post", collection: @posts
    .d-flex.justify-content-center
      = paginate @posts, theme: 'twitter-bootstrap-4'

  .col-sm-4
    .p-5
    = search_form_for @q do |f|
      .form-group
        = f.label :title, class: "form-label text-white"
        = f.search_field :title_cont, class: "form-control"
      .form-group
        = f.label :description, class: "form-label text-white"
        = f.search_field :description_cont, class: "form-control"
      .form-group
        = f.submit "Искать", class: "btn btn-success btn-lg btn-block"

    = link_to "Новый пост", new_post_path, class: 'btn btn-primary btn-lg btn-block'