.row
  .col-sm-12
    .post-container
      .post-title
        = @post.title

      .post-img
        = image_tag(url_for(@post.main_picture))

      .post-description
        = @post.description

      .post-footer
        .post-user
          = "Отправил: "
          = link_to(@post.user.full_name, '#')
        .post-date
          = "Дата: #{@post.created_at.strftime("%d.%m.%Y %H:%M")}"