.row
  .col-sm-8
    .post-container
      .post-title
        = @post.title

      .post-img
        = image_tag(url_for(@post.main_picture))

      .d-flex.mb-3
        .post-like
          - if @post.liked_by_user?(current_user)
            = link_to post_unlike_path(@post), method: :post, local: true do
              %i.fas.fa-heart
              = @post.likes_count
          - else
            = link_to post_like_path(@post), method: :post, local: true do
              %i.far.fa-heart
              = @post.likes_count

        .post-img-link.ml-auto
          = link_to rails_blob_path(@post.main_picture, disposition: "attachment") do
            %i.fas.fa-download

      .post-description
        = @post.description

      .post-footer
        .post-user
          = "Отправил: "
          = link_to(@post.user.full_name, user_path(@post.user))
        .post-date
          = "Дата: #{@post.created_at.strftime("%d.%m.%Y %H:%M")}"

  .col-sm-4
    .p-5

    - if current_user.present?
      = form_with(url: post_comments_path(@post), method: :post, local: true, class: "mb-5") do |f|
        .form-group
          = f.label "Текст комментария:", class: "form-label text-white"
          = f.text_area :text, class: "form-control form-control-lg", onkeyup: "checkField()", placeholder: "Мин. 2 символа"
        = f.submit "Добавить комментарий", class: "btn btn-primary btn-block text-white", id: "comment_submit"

    - if @comments.present?
      %p.text-white.p-2.mb-2 Комментарии пользователей:

    = render partial: "posts/shared/comment", collection: @comments

    .d-flex.justify-content-center.mt-5
      = paginate @comments, theme: 'twitter-bootstrap-4'
      
:javascript
  $(function() {
    $('#comment_submit').attr('disabled', 'disabled');
  });

  function checkField() {
    if ($('#text').val().length >= 2) {
        $('#comment_submit').removeAttr('disabled');
    } else {
        $('#comment_submit').attr('disabled', 'disabled');
    }
  }